<nav class="nav bg-purple justify-content-center">
  <a class="nav-link text-white" href="/admin/logout">Logout
    
</nav>

<div class="container" id="firstpage">

  <div class="row">
    
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 p-2">
      <a class="text-decoration-none" href="/admin/useredit">
        <div class="card p-3 shadow bg-purple text-center border-0" style="background-color: black;">
          <div class="card-body">
          
            <hr />
            <p class="card-title lead">Users</p>
          </div>
        </div>
      </a>
    </div>
    

    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 p-2">
      <a class="text-decoration-none" href="/admin/productedit" >
        <div class="card p-3 shadow bg-purple text-center border-0" style="background-color: black;">
          <div class="card-body">
            
            <hr />
            <p class="card-title lead">Products</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 p-2">
      <a class="text-decoration-none" href="">
        <div class="card p-3 shadow bg-purple text-center border-0" style="background-color: black;">
          <div class="card-body">
            
            <hr />
            <p class="card-title lead">About</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>